<!DOCTYPE html>
<html>
  <head>
    <title>Sistema FCM</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/alpinejs/dist/cdn.min.js" defer></script>
  </head>
<body>  
    <%- include('./nav/navbar-dashboard'); %>  
</body>
</html> 